apiVersion: apps/v1 
kind: Deployment
metadata:
  name: worker
  namespace: ai-station
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker 
  template:
    metadata:
      labels:
        app: worker
      annotations:
        trigger: "15"
    spec:
      containers:
      - name: worker
        image: ghcr.io/phm1605/aistation-backend:301125-2
        command: ["bash","-lc","celery -A app.core.celery_app.celery_app worker -Q gpu1 --loglevel=INFO --concurrency=1 --events"]
        envFrom:
        - secretRef:
            name: app-secrets 
        env:
        - name: DATA_DIR
          value: /data 
        volumeMounts:
        - name: ai-data 
          mountPath: /data 
        resources:
          requests:
            cpu: "1"
            memory: "2Gi"
          limits:
            nvidia.com/gpu: 1 
            cpu: "2"
            memory: "4Gi"
      volumes:
      - name: ai-data 
        persistentVolumeClaim:
          claimName: ai-data-pvc 
            