apiVersion: apps/v1 
kind: Deployment 
metadata:
  name: frontend 
  namespace: ai-station 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend 
      annotations:
        trigger: "21"
    spec:
      containers:
      - name: frontend 
        image: ghcr.io/phm1605/aistation-frontend:061225-1
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: http 
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "250m"
            memory: "256Mi"
            